.header {
    background-color: rgb(119, 0, 46);
}

.header a {
    margin-left: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2 !important;
}

.header a:hover,
.header a:active,
.header a.active {
    color: white !important;
}

.badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}